---
apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: default
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
      - {{ cluster_network_subnet }}
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1beta1
    kind: KubeadmControlPlane
    name: {{ cluster_name }}-control-plane
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: AzureCluster
    name: {{ cluster_name }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: AzureCluster
metadata:
  name: {{ cluster_name }}
  namespace: default
spec:
  identityRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: AzureClusterIdentity
    name: cluster-identity
  location: {{ azure_location }}
  networkSpec:
    vnet:
      name: {{ cluster_name }}-vnet
      cidrBlocks:
        - {{ vnet_cidr }}
      peerings:
        - resourceGroup: {{ cluster_name }}-bootstrap
          remoteVnetName: {{ bootstrap_vm_vnet_name }}
    subnets:
      - name: control-plane-subnet
        role: control-plane
        cidrBlocks:
          - {{ control_plane_subnet_cidr }}
        routeTable:
          name: {{ cluster_name }}-node-routetable
      - name: node-subnet
        role: node
        cidrBlocks:
          - {{ node_subnet_cidr }}
        routeTable:
          name: {{ cluster_name }}-node-routetable
  resourceGroup: {{ cluster_name }}
  subscriptionID: {{ azure_subscription_id }}
{%- if resource_group_tags | length > 0 %}
  additionalTags:
{%- for key, value in resource_group_tags.items() %}
    {{ key }}: "{{ value }}"
{%- endfor %}
{%- endif %}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: AzureClusterIdentity
metadata:
  labels:
    clusterctl.cluster.x-k8s.io/move-hierarchy: "true"
  name: cluster-identity
  namespace: default
spec:
  allowedNamespaces: {}
  clientID: {{ azure_client_id }}
  clientSecret:
    name: cluster-identity-secret
    namespace: default
  tenantID: {{ azure_tenant_id }}
  type: ServicePrincipal

{% include "control-plane.yaml.j2" %}

{% include "windows-agents.yaml.j2" %}
