  cni-conf.json: |
    {
      "name": "cbr0",
      "cniVersion": "0.3.0",
      "type": "flannel",
      "capabilities": {
        "dns": true
      },
      "delegate": {
        "type": "sdnbridge",
        "master": "eth0",
        "optionalFlags": {
          "forceBridgeGateway": true
        },
        "AdditionalArgs": [
          {
            "Name": "EndpointPolicy",
            "Value": {
              "Type": "OutBoundNAT",
              "Settings": {
                "Exceptions": []
              }
            }
          },
          {
            "Name": "EndpointPolicy",
            "Value": {
              "Type": "SDNRoute",
              "Settings": {
                "DestinationPrefix": "",
                "NeedEncap": true
              }
            }
          },
          {
            "Name": "EndpointPolicy",
            "Value": {
              "Type": "SDNRoute",
              "Settings": {
                "DestinationPrefix": "",
                "NeedEncap": true
              }
            }
          }
        ]
      }
    }
