  configure-cni.ps1: |
    $ErrorActionPreference = "Stop"

    $serviceSubnet = yq eval '.networking.serviceSubnet' /etc/kubeadm-config/ClusterConfiguration
    $podSubnet = yq eval '.networking.podSubnet' /etc/kubeadm-config/ClusterConfiguration
    $networkJson = wins cli net get | ConvertFrom-Json

    $cniJson = Get-Content /etc/kube-flannel-windows/cni-conf.json | ConvertFrom-Json
    $cniJson.delegate.AdditionalArgs[0].Value.Settings.Exceptions = $serviceSubnet, $podSubnet, "{{ control_plane_cidr }}", "{{ node_cidr }}"
    $cniJson.delegate.AdditionalArgs[1].Value.Settings.DestinationPrefix = $serviceSubnet
    $cniJson.delegate.AdditionalArgs[2].Value.Settings.DestinationPrefix = $networkJson.AddressCIDR

    mkdir -force /host/opt/cni/bin
    cp -force /opt/cni/bin/* /host/opt/cni/bin/

    mkdir -force /host/etc/cni/net.d
    Set-Content `
      -Encoding Ascii `
      -Path /host/etc/cni/net.d/10-flannel.conf `
      -Value ($cniJson | ConvertTo-Json -Depth 100)

  cni-conf.json: |
    {
      "name": "cbr0",
      "cniVersion": "0.3.0",
      "type": "flannel",
      "capabilities": {
        "portMappings": true,
        "dns": true
      },
      "delegate": {
        "type": "sdnbridge",
        "master": "eth0",
        "optionalFlags": {
          "forceBridgeGateway": true
        },
        "AdditionalArgs": [
          {
            "Name": "EndpointPolicy",
            "Value": {
              "Type": "OutBoundNAT",
              "Settings": {
                "Exceptions": []
              }
            }
          },
          {
            "Name": "EndpointPolicy",
            "Value": {
              "Type": "SDNRoute",
              "Settings": {
                "DestinationPrefix": "",
                "NeedEncap": true
              }
            }
          },
          {
            "Name": "EndpointPolicy",
            "Value": {
              "Type": "SDNRoute",
              "Settings": {
                "DestinationPrefix": "",
                "NeedEncap": true
              }
            }
          }
        ]
      }
    }
