---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: kube-proxy-windows
  namespace: kube-system
  labels:
    k8s-app: kube-proxy
spec:
  selector:
    matchLabels:
      k8s-app: kube-proxy-windows
  template:
    metadata:
      labels:
        k8s-app: kube-proxy-windows
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/os
                    operator: In
                    values:
                      - windows
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
      securityContext:
        windowsOptions:
          hostProcess: true
          runAsUserName: "NT AUTHORITY\\system"
      hostNetwork: true
      priorityClassName: system-node-critical
      serviceAccountName: kube-proxy
      tolerations:
      - operator: Exists
        effect: NoSchedule
      initContainers:
      - name: init-kube-proxy
        image: {{ container_image_registry }}/kube-proxy-windows-hpc:{{ container_image_tag }}
        imagePullPolicy: Always
        command:
        - "%CONTAINER_SANDBOX_MOUNT_POINT%\\kube-proxy\\init.exe"
        env:
        - name: CNI_VERSION
          value: "{{ cni_version }}"
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        - name: ENABLE_WIN_DSR
          value: "{{ enable_win_dsr }}"
        - name: KUBE_PROXY_CONF
          value: /var/lib/kube-proxy/config.conf
        - name: KUBE_PROXY_WINDOWS_CONF
          value: /k/kube-proxy/config.conf
        volumeMounts:
        - name: kube-proxy
          mountPath: /var/lib/kube-proxy
      containers:
      - name: kube-proxy
        image: {{ container_image_registry }}/kube-proxy-windows-hpc:{{ container_image_tag }}
        imagePullPolicy: Always
        command:
{%- if k8s_bins %}
        - "%SystemDrive%\\build\\kube-proxy.exe"
{%- else %}
        - "%CONTAINER_SANDBOX_MOUNT_POINT%\\kube-proxy\\kube-proxy.exe"
{%- endif %}
        args:
        - "--hostname-override=%NODE_NAME%"
        - "--enable-dsr={{ enable_win_dsr }}"
        - --config=/k/kube-proxy/config.conf
        - --v=4
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
      volumes:
      - configMap:
          name: kube-proxy
        name: kube-proxy
