---
apiVersion: cluster.x-k8s.io/v1alpha4
kind: MachineHealthCheck
metadata:
  name: {{ cluster_name }}-nodes-unhealthy
spec:
  clusterName: {{ cluster_name }}
  nodeStartupTimeout: 10m
  selector:
    matchLabels:
      cluster.x-k8s.io/deployment-name: {{ cluster_name }}-md-win
  unhealthyConditions:
    - type: Ready
      status: Unknown
      timeout: 5m
---
apiVersion: cluster.x-k8s.io/v1alpha4
kind: MachineDeployment
metadata:
  name: {{ cluster_name }}-md-win
  namespace: default
spec:
  clusterName: {{ cluster_name }}
  replicas: {{ win_minion_count }}
  selector:
    matchLabels: null
  template:
    spec:
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1alpha4
          kind: KubeadmConfigTemplate
          name: {{ cluster_name }}-md-win
      clusterName: {{ cluster_name }}
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1alpha4
        kind: AzureMachineTemplate
        name: {{ cluster_name }}-md-win
      version: {{ ci_version }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha4
kind: AzureMachineTemplate
metadata:
  name: {{ cluster_name }}-md-win
  namespace: default
spec:
  template:
    spec:
      osDisk:
        diskSizeGB: 128
        managedDisk:
          storageAccountType: Premium_LRS
        osType: Windows
      sshPublicKey: {{ azure_ssh_public_key_b64 }}
      vmSize: {{ win_minion_size }}
{%- if flannel_mode == "host-gw" %}
      enableIPForwarding: true
{%- endif %}
      image:
{%- if win_minion_image_type == "shared-image-gallery" %}
        sharedGallery:
          gallery: {{ win_minion_image_gallery }}
          subscriptionID: {{ azure_subscription_id }}
          resourceGroup: {{ win_minion_image_rg }}
          name: {{ win_minion_image_definition }}
          version: {{ win_minion_image_version }}
{%- endif %}
{%- if win_minion_image_type == "managed-image" %}
        id: {{ win_minion_image_id }}
{%- endif %}
---
apiVersion: bootstrap.cluster.x-k8s.io/v1alpha4
kind: KubeadmConfigTemplate
metadata:
  name: {{ cluster_name }}-md-win
  namespace: default
spec:
  template:
    spec:
      files:
      - contentFrom:
          secret:
            key: worker-node-azure.json
            name: {{ cluster_name }}-md-win-azure-json
        owner: root:root
        path: c:/k/azure.json
        permissions: "0644"
      joinConfiguration:
        nodeRegistration:
          kubeletExtraArgs:
            cloud-config: c:/k/azure.json
            cloud-provider: azure
            pod-infra-container-image: mcr.microsoft.com/oss/kubernetes/pause:1.4.1
{%- raw %}
          name: '{{ ds.meta_data["local_hostname"] }}'
{%- endraw %}
      preKubeadmCommands:
      - curl.exe -Lo /run/kubeadm/kubeadm-bootstrap.ps1 http://{{ bootstrap_vm_address }}/scripts/kubeadm-bootstrap.ps1
      - powershell -C "/run/kubeadm/kubeadm-bootstrap.ps1 -CIPackagesBaseURL http://{{ bootstrap_vm_address }} -CIVersion {{ ci_version }} -SSHPublicKey '{{ azure_ssh_public_key }}'{% if k8s_bins %} -K8sBins{% endif %}{% if sdn_cni_bins %} -SDNCNIBins{% endif %}{% if containerd_bins %} -ContainerdBins{% endif %}{% if containerd_shim_bins %} -ContainerdShimBins{% endif %}"
